/vendor
/node_modules
.env
.env.*
/storage/*.key
/public/storage
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sqlite
*.sqlite-journalvendor/ 
node_modules/ 
.env 
.env.* 
storage/*.key 
public/storage 
.DS_Store 
Thumbs.db 
.idea/ 
.vscode/ 
*.sqlite 
*.sqlite-journal 
